@mixin flex($flex,$items,$justify,$direction){
    display: $flex;
    align-items: $items;
    justify-content: $justify;
    flex-direction: $direction;
}

@mixin grid($grid,$column,$row){
    display: $grid;
    grid-template-columns: $column;
    grid-template-rows: $row;
}

@mixin position($position,$top,$left){
    position: $position;
    top: $top;
    left: $left;
}

@mixin w-h($w,$h){
    width: $w;
    height: $h;
}

@mixin font($size,$weight,$color){
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin outline{
    border: none;
    outline: none;
}